<div class="modal fade" id="ModalLogin" tabindex="-1" aria-labelledby="ModalLogin" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Formulario Login</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-4 col-form-label"><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;&nbsp;Email: </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="email" placeholder="email@dominio.com" required="required">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-4 col-form-label"><i class="fa-solid fa-lock"></i>&nbsp;&nbsp;&nbsp;Contraseña: </label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" name="password" placeholder="********" required="required">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Ingresar</button>
        </div>
    </div>
    </div>
</div>