<!-- ...............Inicio de Logo Argentina Programa -->
    <div class="col-3">
        <a class="navbar-brand m-0 p-0" href="https://argentinaprograma.inti.gob.ar/" target="_blank">
            <img src="../assets/img/AP-logo.png" alt="Logo Argentina Programa" width="100%">
        </a>
    </div>
<!-- ...............Fin de Logo Argentina Programa -->
<!--
    
                    <a href="index.html" class="navbar-brand d-block d-lg-none">
                        <h1 class="m-0 display-4 text-primary text-uppercase">Gymster</h1>
                    </a>
-->